.App {
  /* max-height: 300vh; */
  /* overflow-y: hidden; */
  background: linear-gradient(to bottom, #171f34, hsla(213, 77%, 14%, 1) 100%);

  max-height: 280vh;
  overflow-y: hidden;
  display: flex;
  width: 400vw;
}
/*  */
