
.contact-container {
    width: 107.5vw;
    height: 50vh;
    box-shadow: 0px 20px 50px white;
    background-image: linear-gradient(to top, #0a0a45, #00001d);
    border-radius: 50% 50% 0 0 ;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container div {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}
 
.contact-container input {
    padding: 0;
    font-size: 1.5rem;
    color: white;
    height: 50px;
    min-width: 300px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: transparent;
    /* border-radius: 1rem; */
    border: none;
    outline: none;

    border-bottom: 3px solid #D8ED4E;
    text-decoration: none;
}

/* .contact-container input::f */