
.techs-container {
    margin-left: 7.5vw;
    width: 92.5vw;
    height: 100vh;
    position: relative;
    
}

.techs {
    position: absolute;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    top: 0;
    width: 100%;
    height: 100%;
}
.techs img{
    width: 250px;
    height: 300px
}

.techs :nth-child(1){
    position: relative;
    top: 30%;
    transform-origin: center;
    animation: infinite linear 20s rotate1;
}

@keyframes rotate1 {
    0%{
        transform: rotate(0deg) translate(0, 0);
    }
    50% {
        transform: rotate(180deg) translate(100px, 150px);
    }
    100%{
        transform: rotate(360deg) translate(0, 0);
    }
}

.techs :nth-child(2){
    position: relative;
    top: 10%;
    transform-origin: center;
    animation: infinite linear  15s rotate2;
}

@keyframes rotate2 {
    0%{
        transform: rotate(0deg) translate(0, 0) ;
    }
    25% {
        transform: rotate(-45deg) translate(5px, 5px);
    }
    30% {
        transform: rotate(-50deg) translate(10px, 10px);
    }
    37.5% {
        transform: rotate(-30deg) translate(15px, 15px);
    }

    50% {
        transform: rotate(0deg) translate(20px, 20px);
    }
    
    75% {
        transform: rotate(45deg) translate(15px, 15px);
    }
    80% {
        transform: rotate(50deg) translate(10px, 10px);
    }
    87.5% {
        transform: rotate(30deg) translate(5px, 5px);
    }
    100%{
        transform: rotate(0deg) translate(0px, 0px);
    }
}


.techs :nth-child(3){
    position: relative;
    top: 40%;
    transform-origin: center;
    animation: infinite linear  10s rotate3;
}

@keyframes rotate3 {
    0%{
        transform: rotate(0deg) translate(0, 0);
    }
    50% {
        transform: rotate(15deg) translate(-100px, -150px);
    }
    100%{
        transform: rotate(0deg) translate(0, 0);
    }
}

.techs :nth-child(4){
   
}