.home-container {
  width: 100vw;
  height: 100vh;
}

.about {
  position: absolute;
  top: 10%;
  right: 10%;
}
.hello {
  display: flex;
  /* align-items: flex-end; */
  text-align: end;
}

.hello h2 {
  /* text-align: ; */
  font-size: 5rem;
  color: #55d95e;
  font-weight: 600;
}
.about h1 {
  color: #55d95e;
  font-size: 10rem;
  line-height: 1rem;
  font-family: Inconsolata;
  /* letter-spacing: 0.1rem; */
  font-weight: 400;
}

.about span {
  color: #5f82d9;
  font-size: 3rem;
}

.about p {
  color: #55d95e;
  font-size: 3rem;
  font-family: Montserrat;
}

#my-name {
  font-size: 4rem;
  color: #d8ed4e;
  font-family: "Dawning of a New Day";
}
