.techs-container {
  margin-left: 7.5vw;
  width: 92.5vw;
  height: 100vh;
  /* position: relative; */
  /* background-color: red; */
}

/* .frontend {
  position: absolute;
  top: 0;
} */
/* 
.frontend :nth-child(3) {
  animation: rodar 5s linear infinite;
}

@keyframes rodar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
