
.psysche{
    position: absolute;
    top: 2.5%;
    left: 10%;
    width: 150px;
    height: 100px;
    /* animation: rotate 10s infinite linear; */
}



@keyframes rotate {
    to {
        transform: rotate(0deg) translateY(0px);
    }
    from {
        transform: rotate(360deg) translateY(10px);

    }
}